In [2]:
import numpy as np

In [3]:
import pandas as pd

In [12]:
Marksheet = {'Roll no.': [1,2,3,4,5],
            'Names': ['Shaz','Tazzy','Hanzi','Anda','Shahzaib'],
            'DE': [50,40,30,20,70],
            'DBMS': [99,78,67,56,64],
            'Dcom': [78,67,98,86,57],
            'Total': [300,300,300,300,300]}
frame4 = pd.DataFrame(Marksheet)

frame4['Obtained Marks']= frame4['DE']+frame4['DBMS']+frame4['Dcom']

frame4['sub_Remarks'] = ["Pass" if de >=33 and db >=33 and dc >= 33 else "Fail"
                     for de, db, dc in zip(frame4.DE,frame4.DBMS, frame4.Dcom)]

frame4['Percentage'] = frame4['Obtained Marks'] / frame4['Total']*100

frame4['Remarks'] = ["Pass" if i >= 50 else "Fail" for i in frame4.Percentage]

frame4['Grade'] = ["A" if i>=80 else
                   "B" if i<80 and i>=70 else
                   "C" if i<70 and i>=60 else
                   "D" if i<60 and i>=50 else
                   "F" for i in frame4.Percentage]

frame4.Percentage = [str(j) + "%" for j in frame4.Percentage]

frame4

,Roll no.,Names,DE,DBMS,Dcom,Total,Obtained Marks,sub_Remarks,Percentage,Remarks,Grade
0,1,Shaz,50,99,78,300,227,Pass,75.66666666666667%,Pass,B
1,2,Tazzy,40,78,67,300,185,Pass,61.66666666666667%,Pass,C
2,3,Hanzi,30,67,98,300,195,Fail,65.0%,Pass,C
3,4,Anda,20,56,86,300,162,Fail,54.0%,Pass,D
4,5,Shahzaib,70,64,57,300,191,Pass,63.66666666666667%,Pass,C